@using Stock.UI.Code;

<div id="divOfferManager">
</div>
<input type="hidden" value="@Repo.Session.UserId" id="inputUserId"></input>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/manager/offer.js"></script>

