
<button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#userModal">
    Yeni Şirket Ekle
</button>
<div id="divCompanies">
</div>
<!--Kaydetme-->
<div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="userForm">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Yeni Şirket Ekle</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label for="inputCompanyName" class="form-label">Şirket Adı</label>
                    <input type="text" id="inputCompanyName" class="form-control" name="inputCompanyName" />

                    <label for="inputSuperiorCompanyName" class="form-label">Üst Şirket Adı</label>
                    <select type="text" id="inputSuperiorCompanyName" class="form-control">
                        <option value="" disabled selected>Şirket Seçiniz</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/admin/company.js"></script>

@*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>*@